@import "style.css";
@import "index.css";
body{
    background-color: rgba(51, 51, 51, 0.274);
}
.about{
    display: flex;
    gap: 5rem;
    padding: 1rem;
}
.class{
    text-align: center;
    flex-basis: 50%;
}
.class h1{
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
#pic{
   border: 5px solid rgb(48, 123, 173); 
   padding: .5rem;
   background-color: rgb(123, 168, 204);
}
.classy{
    align-self: center;
    padding: 1rem;
}
.classy h1{
    text-align: center;
    margin: 1rem 0;
}
@media (max-width:799px){
    .about{
        flex-direction: column;
    }
}
@media (min-width:800px){
    #pic{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}