
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #21313a;
    height: 133px;
}

#logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
}
nav ul {
    display: none;
    
}
nav ul li{
    font-size: 1.3rem;
}
nav ul li a{
    padding: .5rem;
    border-radius: 5px;
    transition: .6s ease-in-out;
    color: white;
    font-size: 2rem;

}
nav ul li a:hover{
    background-color: white;
    color: blue;
}
#show, #hide{
    text-align: center;
    font-size: 2rem;
    color:orange;
}
#hide{
    display: none;
}
/*---------------------------END OF NAV-BAR------------------------------------------------------*/
/*------------------------------CONTENT SECTION-------------------------------------------*/
.major{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.664)),url(images/hm.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
    color:rgb(202, 217, 223);
}
.head{
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head p{
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Tangerine', cursive;
}
.head h1{
    text-align: center;
    font-size: 3rem;
    
    letter-spacing: 2px;
    font-weight: 700;
}
.head h1::after,
.head h1::before{
    margin: 5px;
    content: '';
    background-color: rgb(238, 239, 245);
    height: 2px;
    display: block;
    width: 100%;
    position: relative;
}
.head h6{
    margin-bottom: 10px;
}
.head small{
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Tangerine', cursive;
}
.head h5{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
}
.a{
    margin-left: 2rem;
    text-align: center;
}
.info{
    padding: 0 3rem;
}
.info h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}
.info p{
    text-align: left;
    margin-left: 15px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.btn{
    padding: 5px 10px;
    text-align: center;
    float: right;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightblue;
}
.btn:hover{
    transform: scale(1.2);
}

.minor{
    display: flex;
    margin-top: 20px;
    padding: 0 1rem;
    gap: 1rem;
    margin-bottom: 10px;
}
.minor >*{
    width: 100%;
    background-color: #3f3f3f60;
    padding: .5rem 1rem;
    color: rgb(10, 10, 10);
    min-width: 200px;
    min-height: 100px;
    border-radius: 10px;
    scale: .9;
    transition: .6s ease-in;
}

.minor >* h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.minor >* p{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.minor >* a{
    font-size: 1.3rem;
    align-items: center;
}
footer{
    background-color: rgb(104, 103, 103);
    width: 99%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px 10px 0 0;
    padding: .1rem;
    color: white;
}
footer p{
    text-align: center;
    font-size: 1.5rem;
    color: greenyellow;
}
footer a{
    color: white;
}
.cite{
    font-style: italic;
    color: rgb(148, 170, 148);
}
.m-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.m-d nav ul{
    flex-direction: column;
    row-gap: .5rem;
}


/*-----------------------------------Social Media------------------------------------------------*/
.connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.connect p{
    color:white;
    font-size: 1.7rem;
}
.social ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.social ul li a{
    color: black;
    font-size: 1.7rem;
}
.social ul li:hover{
    transform: rotate(360deg);
}
.fa-youtube:hover{
    color: red;
}
.fa-twitter:hover,
.fa-facebook:hover{
    color: rgb(35, 83, 172);
}
.fa-instagram:hover{
    color: rgb(218, 40, 69);
}
.fa-whatsapp:hover{
    color: rgb(19, 219, 19);
}
.fa-envelope:hover{
    color: rgb(145, 137, 137);
}

/*------------------------------------------------------------------------------------------------*/

.ad{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:rgba(9, 47, 170, 0.74);
    padding: 0 .5rem;
}
.ad h1{
    font-size: 2.5rem;
    font-family: 'Aguafina Script', cursive;
    color: wheat;
    font-weight: 500;
}
#up{
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(6, 3, 61);
}
.up{
    display: block;
    width: 90%;
    margin: auto;
    background:rgba(0, 38, 255, 0.952);
    border: 1px solid lightblue;
    border-radius: 10px;
}
.up:hover {
    background-color: white;
}
.up:hover a{
    color: black;
}

.up a{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}
.adword small{
    color:orange;
    font-size: 1rem;
}
.enroll{
    float: right;
    width: 100px;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid brown;
    border-radius: 10px;
    font-weight: 500;
    color: brown;
}
.enroll:active{
    background-color: black;
}
.b{
    color: rgb(163, 238, 163);
    text-decoration: underline;
}







@media (min-width:800px){
    header{
        display: flex;
        gap: 10%;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 125px;
    }
    nav ul li{
        display: flex;
    }
    nav ul{
        display: flex;
        gap: 2rem;
        margin-right: 50px;
    }
    #show{
        display: none;
    }
    #hide{
        display: none;
    }
    #pic{
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 0px 30px black;
    }
    footer{
        padding: 1rem;
    }
    .pic{
        text-align: center;
        flex-basis:60% ;
    }
    #up{
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    .ad{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }
    .adin{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ad h1{
        margin-bottom: 10px;
    }
    .adword{
        flex-basis: 50%;
        align-items: center;
    }
    .adword p{
        font-size: 2.5rem;
    }
    .minor >*:hover{
        transform: scale(1.19);
    }
    
    
    
    

      
}
@media (max-width:799px){
    nav ul{
        position: absolute;
        text-align: center;
        background-color: rgba(51, 51, 51, 0.836);
        padding: 20px 30px;
        padding-bottom: 0;
        border-radius: 0 0 10px 10px;
        width: 100%;
        left: 0;
        right: 0;
        
    }
    nav ul li{
        margin-bottom: 20px;
    }
    nav ul li a{
        color: white;
    }
    #pic{
        width: 100%;
    }
    .minor{
        flex-direction: column;
        row-gap: 0;
    }
    .fa-youtube{
        color: rgb(223, 41, 41);
    }
    .fa-twitter{
        color: rgb(11, 84, 219);
    }
    .fa-facebook{
        color: blue;
    }
    .fa-instagram{
        color: rgb(218, 40, 69);
    }
    .fa-whatsapp{
        color: rgb(19, 219, 19);
    }
    .fa-envelope{
        color: rgb(151, 152, 153);
    }
    .adword p{
        font-size: 1.7rem;
    }
    
    
    
    
}
@media (max-width:558px){
    .major{
        background-image: linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.664)),url(images/hmh.jpg);
        padding: 0;
    }
}

@media (max-width:1033px) and (min-width:800px){
    #up{
        width: 100%;
    }
}